[build]
  base = "vaxllo-web"
  command = "cd vaxllo-web && npm install && npm run build"
  publish = "vaxllo-web/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

