[build]
  base = "vaxllo/vaxllo-web"
  command = "npm install && npm run build"
  publish = "vaxllo/vaxllo-web/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

